body,table,tr,td,form,select,input,textarea,a{
	font-family : Verdana;
	font-size : 8pt;
	color : Black;
}

body{
	background-color : White;
	height: 800px;
	width: 600px;
	margin-left: 0px;
	margin-top : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
	color: #FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#DAE4ED;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#DAE4ED;
	scrollbar-arrow-color:#DAE4ED;
	scrollbar-track-color:#FFFFFF;

}

.corpo{
	text-align: -moz-center;
	height: 600px;
	width: 800px; 
}

table.normal,tr.normal,td.normal{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	color: #FFFFFF;
}

form{
	margin-top : 0px;
	margin-right : 0px;
	margin-left : 0px;
	margin-bottom : 0px;
}

legend {
	font-family: Verdana;
	color: #999999;
	font-style:italic;
	font-weight:bold;
	font-size:11px;
	background-color:#FFFFFF;
}

fieldset {
	width: 100%;
	border:dotted 1px #CCCCCC;
	padding:5px;
	text-align: -moz-center;
}

input {
	height:18px;
	vertical-align:baseline;
	color:#000000;
	border-bottom-style:dotted;
	border-bottom-color:#999999;
	border-bottom-width:1px;
	border-left-style:dotted;
	border-left-color:#999999;
	border-left-width:1px;
	border-right-style:dotted;
	border-right-color:#999999;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-color:#999999;
	border-top-width:1px;
	text-transform: uppercase;	
}

medio {
	height:18px;
	vertical-align:baseline;
	color:#000000;
	border-bottom-style:dotted;
	border-bottom-color:#999999;
	border-bottom-width:1px;
	border-left-style:dotted;
	border-left-color:#999999;
	border-left-width:1px;
	border-right-style:dotted;
	border-right-color:#999999;
	border-right-width:1px;
	border-top-style:dotted;
	border-top-color:#999999;
	border-top-width:1px;
	text-transform: uppercase;
	width: 300px;
}

a{
	color: #969696;
	text-decoration: none;
}

a:hover{
	color:black;
}

a.manualBranco{
	color: #FFF;
	text-decoration: underline;
}

a.manualPreto:hover{
	color:black;
	text-decoration: underline;
}

a.manualPreto:visited{
	color:black;
}

a.manualPreto{
	color:black;
}

hr{
	height : 1px;
	margin : 0px 0px 0px 0px;
}


.texto_Branco{
    color: #FFFFFF; 
    text-decoration: none;
}

.btn{
	width:100px;
    background-image:url(../imagens/bg_rodape.gif);
	color:#FFFFFF;
	font-style:italic;
	border-bottom-style:dotted;
	border-bottom-color:#999999;
	border-bottom-width:0px;
	border-left-width:0px;
	border-right-width:0px;
	border-top-width:0px;
	text-transform: none;
}


.titulo_Tabela{
	text-align:-moz-center;
	vertical-align:middle;
	font-size:10px;
	font-style:italic;
	font-weight:bold;
	height:20px;
	color:#FFFFFF;
    text-decoration: none;
	background-image:url(../imagens/bg_rodape.gif);
}

.borda_Tabela{
	border-left-color:#CCCCCC;
	border-left-style:dashed;
	border-left-width:1px;
	border-right-color:#CCCCCC;
	border-right-style:dashed;
	border-right-width:1px;
	border-bottom-color:#CCCCCC;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	border-top-color:#CCCCCC;
	border-top-style:dashed;
	border-top-width:0px;
}

.semBorda{
	border: 0px;
}

.rodape {
    position: absolute;
    left:0;
    bottom:0;
}

.bgLinha1{
	background-color: #FFFFFF;
}

.bgLinha2{
	background-color: #ECFFEC;
}

.bgLinhaCentralizada{
	background-color: #FFFFFF;
	text-align: -moz-center;
}

.colunaAcao{
	text-align: -moz-center;
	
}

.colStyle1{
	width:4%;
	text-align: center;
	}
.colStyle2{
	width:96%;
	}	


.colunaAlinhadaDireita{
	text-align:right;
	vertical-align:middle;		
}

.colunaAlinhadaEsquerda{
	text-align:left;
	vertical-align:middle;		
}

.testedic{
	text-align: -moz-center;
}

.mensagem{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:bold;
	font-size:11px;	
}

.errorMessage {
	color: red;				
	vertical-align: middle;
}

.infoMessage {
	color: green;
	vertical-align: middle;
}

.warnMessage {
	color: #E8A423;
	vertical-align: middle;
}

#global { 
	width: 800px; position: absolute; left: 50%; margin-left: -400px; background-color: #fff;
}